image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/api-gateway
  pullPolicy: IfNotPresent
  tag: 7-6f303619fa4d1ca59b23cba6842906dc6f840d08

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: true
  ingressClassName: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/ssl-redirect: '443'
    alb.ingress.kubernetes.io/group.name: "ticket-booking-apps"
    alb.ingress.kubernetes.io/group.order: "1"
    alb.ingress.kubernetes.io/certificate-arn: "arn:aws:acm:us-east-1:044302809167:certificate/ce4bd29f-fc48-4ad1-907e-9aacdbe2fc49"
  hosts:
    - host: ticketbooking.duckdns.org
      paths:
        - path: /api
          pathType: Prefix

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "8080"
  MONGO_URI: "mongodb://root:password123@mongodb.dev.svc.cluster.local:27017/userdb?authSource=admin"
