image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/api-gateway
  pullPolicy: IfNotPresent
  tag: 2-ff4b5db45f885cf1a693ccde394c9cefaa775182

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "8080"
  MONGO_URI: "mongodb://mongodb.default.svc.cluster.local:27017/userdb"
