image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/api-gateway
  pullPolicy: IfNotPresent
  tag: 17-3256abef6c995a6760f51fe44df623d46e0dc5ed

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false
  ingressClassName: alb
  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
    alb.ingress.kubernetes.io/group.name: "ticket-booking-apps"
    alb.ingress.kubernetes.io/group.order: "1"
  hosts:
    - host: ticketbooking.aws.booking007.space
      paths:
        - path: /api
          pathType: Prefix
    - host: aws.booking007.space
      paths:
        - path: /api
          pathType: Prefix
    - host: www.aws.booking007.space
      paths:
        - path: /api
          pathType: Prefix

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "8080"
  MONGO_URI: "mongodb://root:password123@mongodb.dev.svc.cluster.local:27017/userdb?authSource=admin"
