image:
  repository: 044302809167.dkr.ecr.us-east-1.amazonaws.com/ticket-booking/api-gateway
  pullPolicy: IfNotPresent
  tag: 6-63bbdfcd8b9eecf8a75cff40bca5f68ae13e71d1

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false

resources:
  limits:
    cpu: 200m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  NODE_ENV: production
  PORT: "8080"
  MONGO_URI: "mongodb://mongodb.default.svc.cluster.local:27017/userdb"
